/* ProductCard.module.css */
.productImage {
  width: 20%;
  height: auto;
}

.productCard {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; /* Set background color to white */
  border-radius: 8px; /* Add border radius for a rounded appearance */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.textcustom {
  font-family: sans-serif; 
  font-weight: bold;
  font-size: medium;
}

/* Add mobile styles */
@media (max-width: 767px) {
  .productImage {
    width: 49%;
  }
}